        #container {
            width: 50%;
        }

        #piechart {
            border-radius: 50%;
            transform: rotate(-90deg);
            background-color: #847fff;
        }

        .pie1 {
            stroke: #1127cc;
            fill: none;
            stroke-width: 100;
            stroke-dasharray: 5 calc(100*22/7);
        }

        .pie2 {
            stroke: #495cef;
            fill: none;
            stroke-width: 100;
            stroke-dasharray: 5 calc(100*22/7);
            stroke-dashoffset: -5;
        }
